@model List<HomeCare.Models.Reminder>


@if (Model != null && Model.Any())
{
    <ul class="reminder-list">
        @foreach (var reminder in Model)
        {
            <li>
                <strong>@reminder.Time</strong> - @reminder.Message
            </li>
        }
    </ul>
}
else
{
    <p>Du har ingen timer i dag.</p>
}