@model (List<HomeCare.Models.Reminder>, List<HomeCare.Models.Appointment>)
@{
    ViewData["Title"] = "User Dashboard"; // Later we change this name
}

<h2>Dashboard</h2>

<!-- Top: message after login-->
<div class="dashboard-header bg-primary text-white text-center py-4">
    <h2>Welcome back!</h2>
    <p>Hi, <span>Username</span> ( ◠‿◠ )</p>
    <p>Hello, @ViewBag.Username!</p>

</div>

<!-- Bottom:  -->
<div class="dashboard-main d-flex flex-wrap">

    <!--LEFT-->
    <div class="dashboard-left flex-fill p-3" style="min-width: 300px;">
        <!--Left top-->
        <div class="reminder-section mb-4">

            <h3>Reminder</h3>
            <partial name="_ReminderList" model="Model.Item1" />
            @* @Html.Partial("_ReminderList", Model.Item1) *@
        </div>

        <div class="appointment-section">
            <h3>Booked appointments</h3>
            <partial name="_AppointmentList" model="Model.Item2" />
            @* @Html.Partial("_AppointmentList", Model.Item2) *@

            <div class="action-button">
                <a asp-controller="User" asp-action="Booking" class="btn btn-primary">Book New Appointment</a>
            </div>
        </div>
    </div>

    <!--RIGHT-->
    <div class="dashboard-right flex-fill p-3" style="min-width: 300px;">
        <h3>Calendar</h3>
        <partial name="_Calendar" model="Model.Item2" />
        @* @Html.Partial("_Calendar", Model.Item2) *@
    </div>

</div>