# Visual Studio Code
.vscode/

# Build results
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
bin/
obj/

# Packages
packages/
*.nupkg
*.suo
*.user
*.log
*.vspscc
*.vssscc

# Rider / JetBrains
.idea/

# Mac-specific files
.DS_Store
.Trashes
Thumbs.db

# Project files
*.csproj.user
*.resharper
*.resharper.user
*.DotSettings

# Temporary files
*.tmp
temp/

# Test results
TestResults/

# Other common ignores
*.bak
*.orig
*.swp

#SQLite database files
*.db
*.bd-shm
*.db-wal

# Node
frontend/node_modules/
frontend/.env
frontend/.cache
frontend/build/
frontend/dist/

# Logs
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# Dependency directories
node_modules/

# Temporary files
*.log
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

